<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>FaDocServlet</servlet-name>
        <servlet-class>com.controller.FaDocServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppServlet</servlet-name>
        <servlet-class>com.controller.AppServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mqa02Servlet</servlet-name>
        <servlet-class>com.controller.Mqa02Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IrvServlet</servlet-name>
        <servlet-class>com.controller.IrvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaServlet</servlet-name>
        <servlet-class>com.controller.FaServlet</servlet-class>
    </servlet>
    <!-- Default Servlet Mapping for Static Resources -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FaDocServlet</servlet-name>
        <url-pattern>/fadoc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.png</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.css</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mqa02Servlet</servlet-name>
        <url-pattern>/mqa02/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IrvServlet</servlet-name>
        <url-pattern>/irv/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaServlet</servlet-name>
        <url-pattern>/fa/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
